* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: #222;
}

.topo {
    background-color: #f5d9c3;
}

.color{
    color: #000000;
    padding: 5px 50px 5px 50px;
    background-color: #f5d9c3;    
}


#barraSuperior {
    width: 100%;
    z-index: 9999;
    padding-top: 5px;
    padding-bottom: 5px;
}

#menu ul {
    text-align: center;
}

#menu ul li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 20px;
}

#menu ul li a {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 40px;
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#menu ul li a:hover {
    background: #ffc8c3;
}

#logotipo {
    padding-top: 30px;

}

#mineBanner a {
    text-align: center;
    background-color: #ffc8c3;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 10px;
    display: inline-block;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#mineBanner a:hover {
    background: #000000;
}

.adote {
    text-align: center;
}

#fotoPet h2 {
    background-color: #ffc8c3;
    color: #000000;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 20px;
}

.tamanhoPet {
    margin-top: 50px;
    margin-bottom: 50px;
}

.btnPadrao {
    background-color: #ffc8c3;
    color: #000000;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    max-width: 500px;
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
    border-radius: 20px;
    padding: 10px 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}


h2 {
    text-align: center;
}

footer h2 {
    text-align: left;
}

h3 {
    font-size: 19px;
    font-weight: bold;
}


.parceiros {
    margin-bottom: 20px;
    text-align: center;
}

#videoPrimeiro {
    background-color: #b2defb;
    height: 20px 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 20px;
}

p {
    font-size: 1.3rem;
}

.negrito {
    font-weight: bold;
}

.descricao {
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

#juncaoOngs {
    text-align: center;
}

#videoSegundo {
    background-color: #b2defb;
    height: 15px 15px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 20px;
}

.colunaimg {
    background-color: #ff2da8;
}

#tex {
    text-align: justify;
    margin-top: 60px;
}

#texs {
    text-align: justify;
    margin-top: 180px;
}

#texx {
    background-color: #000000;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
}

#texxx {
    text-align: center;
    background-color: #ffc8c3;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 10px;
    font-weight: bold;
}

.saudeau{
    padding: 50px;
}

#formContato input,
#formContato textarea {
    width: 100%;
    padding: 5px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid;
}

#formContato button {
    width: 100%;
}

.pergunta {
    text-align: center;
}

#entrar {

    margin-top: 10px;
}

#cadastre a {
    text-align: center;
    margin-top: 30px;
}

#rodape {
    margin-top: 30px;
    background-color: #fdd9db;
    padding: 30px;
}

#rodape ul {
    padding-left: 0;
}

#rodape a {
    color: #000000;
    text-decoration: none;
}

.copyright {
    text-align: center;
    background-color: #f5afb2;
    padding-bottom: 5px;
    padding-top: 15px;
}

.fontes {
    font-family: "Times New Roman", Times, serif;
}

#tituloPagina {
    text-align: center;
    background-color: #fdd9db;
    padding: 20px;
}

.color {
    background-color: #f5d9c3;
}



@media screen and (max-width: 992px) {

    #logotipo img {
        height: 50px;

    }

    #menu {
        background: #fff;
        width: 300px;
        position: absolute;
        top: 95px;
        left: -300px;
        height: 100vh;
        transition: left 500ms ease-out;
        z-index: 9999;
    }

    .menuShow {
        left: 0 !important;
    }

    #menu ul li {
        display: block;
        text-align: left;
    }

    #menu ul li a {
        color: #222;
        font-size: 1rem;
        margin-left: -25px;
    }

    #menu ul li a:hover {
        background: none;
    }

    #fotoPet h3 {
        font-size: 1.2rem;
        text-align: center;
    }

    .imagensPets {
        text-align: center;
    }

    .parceiro ul {
        width: 100%;
        text-align: center;
    }

    .contatoLocal {
        text-align: center;
    }

    #rodape {
        text-align: center;
    }

    #rodape h2{
        text-align: center;
    }

}
